@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: "FontAwesome";
  src : url("../fonts/FontAwesome/FontAwesome.otf");
  src : url("../fonts/FontAwesome/fontawesome-webfont.woff");
  src : url("../fonts/FontAwesome/fontawesome-webfont.woff2");
  src : url("../fonts/FontAwesome/fontawesome-webfont.svg");
  src : url("../fonts/FontAwesome/fontawesome-webfont.eot");
  src : url("../fonts/FontAwesome/fontawesome-webfont.ttf");
}


//font-family: 'Fira Sans', sans-serif