$default-font: 'Fira Sans', sans-serif;
$accent: orange;

// common-colors

$white: #ffffff;
$light-gray: #f6f6f6;
$grey-text: #aeaeae;
$grey: #727272;
$black: #414141;
$blue: #33c1e3;
$red: #e85f61;

// flat-ui-colors

$flat-turquoise: #1ABC9C;
$flat-green-sea: #16A085;
$flat-emerald: #2ECC71;
$flat-nephritis: #27AE60;
$flat-peter-river: #3498DB;
$flat-belize-hole: #2980B9;
$flat-amethyst: #9B59B6;
$flat-wisteria: #8E44AD;
$flat-wet-asphalt: #34495E;
$flat-midnight-blue: #2C3E50;
$flat-sun-flower: #F1C40F;
$flat-orange: #F39C12;
$flat-carrot: #E67E22;
$flat-pumpkin: #D35400;
$flat-alizarin: #E74C3C;
$flat-pomegranate: #C0392B;
$flat-clouds: #ECF0F1;
$flat-silver: #BDC3C7;
$flat-concrete: #95A5A6;
$flat-asbestos: #7F8C8D;

// material-palette

$material-red: #F34235;
$material-pink: #E81D62;
$material-purple: #9B26AF;
$material-deep-purple: #6639B6;
$material-indigo: #3E50B4;
$material-blue: #2095F2;
$material-light-blue: #02A8F3;
$material-cyan: #00BBD3;
$material-teal: #009587;
$material-green: #4BAE4F;
$material-light-green: #8AC249;
$material-lime: #CCDB38;
$material-yellow: #FEEA3A;
$material-amber: #FEC006;
$material-orange: #FE9700;
$material-deep-orange: #FE5621;
$material-brown: #785447;
$material-grey: #9D9D9D;
$material-blue-grey: #5F7C8A;